/* Valores generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

img {

    width: 100%;
}

html {

    font-size: 62.5%;
}

h1 {

    text-align: center;
    margin-top: 2.5rem;
    font-size: 3.5em;
    font-family: 'Neucha', cursive;
    Color: #837e68;

}

/*main {

   
    max-width: 1200px; } */



/* BANNER HEADER */

header {

    background-image: url(../IMG/1580x500.jpg);

    height: 500px;
    width: 100%;




}

.divNav {

    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    align-items: center;


}

.navHeader {

    display: flex;

    align-items: center;

    justify-content: space-between;



}

.menuNav {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-left: 23rem;

    padding: 2rem;

    list-style: none;



}


.menu__item {

    font-size: 1.5em;
    margin: 0 40px;



}


.menu__item>.menu__link {


    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Jaldi', sans-serif;
    Color: #7f2855;
    transform: skewY(20deg);




}

.navHeader .menu__item>.menu__link {
    transition: all .3s linear;
    padding: 3rem 1rem;


}

.navHeader .menu__item>.menu__link:hover {


    background-color: hsla(329, 52%, 33%, 0.467);
    transform: skewY(20deg);


}

/* REPLANTEO */

.replanteo {


    margin-right: 15rem;
    display: flex;
    justify-content: flex-end;
    font-size: 7em;
    font-family: 'Neucha', cursive;
    Color: #837e68;
    margin-top: 15rem;



}

/* MAIN */

/* PAGINA INICIO */

.borderInicio {

    margin-top: 5rem;
    border-top: solid 1px #837e68;
    border-bottom: solid 1px #837e68;

}

/* PAGINA REPLANTEO */

/* Border Replanteo */

.borderReplanteo {

    border: solid 2px #837e68;
    padding: 2%;
    margin: 5rem;
}

.textoReplanteo {



    font-size: 1.8em;

    text-align: center;

    font-family: 'Jaldi', sans-serif;


}

.textoReplanteo1 {

    padding: 1%;
}

.textoReplanteo2 {

    padding: 1%;
}

.textoReplanteo3 {

    padding: 1%;
}

/* VALORES */


.mayuscula {

    font-size: 2em;
}

.valores {

    display: flex;

    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    font-size: 3em;
    font-family: 'Neucha', cursive;
    color: #56566d;
}



.borderValores {

    border-bottom: solid 1px #837e68;


}



/* INICIO */

.textosInicio {

    background-color: #e7eed9;
    opacity: 0.5;
    padding: 2%;
    margin: 5rem;
}

.textoInicio {

    display: flex;

    font-size: 1.8em;

    text-align: justify;

    font-family: 'Jaldi', sans-serif;

    padding: 1%;



}

.textoInicio2 {

    font-size: 1.8em;

    text-align: justify;

    font-family: 'Jaldi', sans-serif;

    padding: 1%;


}

.bannerRedimensionado {


    margin-top: 5rem;




}

/* NOSOTROS */

/* CARDS COORDINADORES */

.cardCoordinadores {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    width: 100%;
    right: 100%;

}

.boxCoordinadores {

    display: flex;
    flex-direction: column;
    text-align: center;

}

.boxCoordinadores__img {

    width: 300px;
    height: 300px;
    margin: 0rem 15rem 0rem 15rem;
}

.boxCoordinadores__info {

    text-align: center;
    font-family: 'Jaldi', sans-serif;
    margin: 0rem 10rem 0rem 10rem;
}

.boxCoordinadores__title {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Jaldi', sans-serif;
    font-size: 2em;
    color: #837e68;
}

.boxCoordinadores__subtitle {
    text-align: center;
    margin-top: 0.1rem;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.6em;
    color: #837e68;
}

.boxCoordinadores__text {
    margin: 2rem 5rem 2rem 5rem;
    color: #837e68;
    font-size: 1.5em;
}

.boxCoordinadores__boton {

    color: #7f2855;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.5em;
    text-decoration: none;

}

/* CARDS NUESTRO EQUIPO */

.equipo {

    display: flex;
    justify-content: start;
    margin-left: 20rem;
    margin-top: 4rem;



}

.cardEquipo {

    width: 100%;
    right: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;




}

.boxEquipo {

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-bottom: solid 1px #837e68;
    margin: 1rem 20rem 0rem 20rem;

}

.boxEquipo__img {

    width: 100%;
    height: 100%;
    margin: 6rem 0rem 6rem 0rem;
}

.boxEquipo__info {

    text-align: justify;
    font-family: 'Jaldi', sans-serif;
    color: #837e68;
    margin: 0rem 5rem 5rem 5rem;

}

.boxEquipo__title {

    margin-top: 2rem;
    font-size: 2em;

}

.boxEquipo__subtitle {

    margin-top: 0.1rem;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.6em;
    color: #837e68;
}

.boxEquipo__text {


    font-size: 1.5em;
    margin: 2rem 0rem 0rem 0rem;

}

.boxEquipo__boton {

    /* Agregar margin total*/

    color: #7f2855;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.5em;
    margin-top: 2em;
    text-decoration: none;


}

/* PRESTACIONES */

/* CARDS */

.cardPrestaciones {

    /*  @include flex (row, space-between, center, 8rem); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*  align-items: center; */
    margin-top: 4rem;
    font-size: 1.5rem;
}


/* .divPrestaciones {

      @include flex (column, center, center, 6rem); 

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 2rem;
    } */

.boxPrestaciones {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1rem 1rem 4rem 1rem;
    /* border-radius: 5px; */
    background-color: #e7eed9;
    box-shadow: 0 0 5px;
    /*map-get($colors, secondary); 
        transition: all 0.3s linear; */
}

.boxPrestaciones__title {
    margin: 0 1rem 2rem 1rem;
    color: #837e68;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Jaldi', sans-serif;
}

.tituloInvisible {

    color: #e7eed9;
}

.boxPrestaciones .boxPrestaciones__img {

    margin: 0 0 1rem 0;
    width: 100%;
    height: 100%;


}

.boxPrestaciones__info {


    font-family: 'Jaldi', sans-serif;
    text-align: center;
    margin-bottom: 2rem;

}

.boxPrestaciones__text {
    color: #837e68;
    font-size: 1em;
    text-align: justify;
    margin: 0 1rem 0 1rem;
}

.listaAsesoramiento {
    color: #837e68;
    font-size: 1em;
    text-align: justify;
    margin: 1rem 1rem 1rem 1rem;


}

.boxPrestaciones__boton {

    border-radius: 1%;
    border: solid 1px #9daa83dc;

    color: rgb(28, 28, 49);
    font-family: 'Jaldi', sans-serif;
    font-size: 1em;
    text-decoration: none;


}

/* CONTACTANOS */

.tituloContactanos {

    text-align: justify;
    margin-left: 10rem;
}


.estilosAdmisiones {

    background-color: #e7eed9;
    margin: 0 5rem 0 5rem;
}

.inputAdmision {
    margin: 2rem 5rem 2rem 5rem;
    font-size: 2em;
    font-family: 'Jaldi', sans-serif;
    width: 24%;
    height: 5%;
}

.icono {


    height: 25px;
    width: 25px;
    color: #837e68;
}

/* FORMULARIO */


.mt-4 {

    display: flex;
    flex-direction: column;
    margin-left: 35rem;
    
    align-items: center;
}

.form-label {

    font-family: 'Jaldi', sans-serif;
    margin-top: 1rem;
    font-size: 2em;
}

.form-control {

    width: 50rem; 
    font-size: 2em;
    font-family: 'Jaldi', sans-serif;

}

.btn {
    align-items: center;
    margin: 2rem 0 2rem 20rem ;
    color: #837e68;
    background-color: #7f2855;
    font-family: 'Jaldi', sans-serif;
    font-size: 2em;
    border-radius: 5%;
    border: solid 2px #7f2855;
    



}




/*FOOTER*/

footer {


    height: 100px;
    background-color: #efe5e3;
    font-size: 1.5em;
    font-family: 'Jaldi', sans-serif;
    color: #837471;
    display: flex;
    justify-content: center;
    align-items: center;


}